.slideshow {
	width: 100%;
	height: 500px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 15fr 70fr 15fr;

	overflow-x: hidden;

	margin: calc(-1 * var(--small-spacing)) 0;
	padding: 0;

	--offset: 2;
}

.slideshow .container {
	grid-row: 1/2;
	grid-column: 1/4;

	display: flex;

	transition: transform 600ms ease 0s;
}
.slideshow .container.modifying {
	transition: none !important;
}

#prev, #next {
	display: flex;

	grid-row: 1/2;

	z-index: 10;

	cursor: pointer;

	color: rgba(255, 255, 255, 0.4);
	transition: color 100ms ease 0s;
	transition: background-color 100ms ease 0s;
}
#prev:hover, #next:hover {
	color: rgba(255, 255, 255, 1);
	
	background-color: rgba(0,0,0, 0.4);
}
#prev {
	grid-column: 1/2;

	background: linear-gradient(to left, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6));
}
#next {
	grid-column: 3/4;
	
	background: linear-gradient(to right, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6));
}

.symbols {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.icon {
	margin: auto;

	color: currentColor;
}

@media screen and (min-width: 1200px) {
	.slideshow .container {
		transform: translateX(
			calc(( -1 * var(--offset)) * 1200px));
	}
	.slideshow .img {
		min-width: 1200px;
	}
	.slideshow .img > p {
		margin-left: calc(0.15 * 1200px);
		margin-right: calc(0.15 * 1200px);
	}
	.icon {
		width: calc(0.15 * 1200px);
	}
}

@media screen and (max-width: 1200px) {
	.slideshow .container {
		transform: translateX(
			calc(-100vw * var(--offset)));
	}
	.slideshow .img {
		min-width: 100vw;
	}
	.slideshow .img > p {
		margin-left: 15vw;
		margin-right: 15vw;
	}
	.icon {
		width: 15vw;
	}
}

.slideshow .img {
	height: 100%;

	display: flex;

	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;

	transition: background-color 600ms ease 0s;
}

.slideshow .img > p {
	width: 100%;

	margin-top: auto;
	padding: var(--small-spacing);

	text-align: start;

	color: #FFF;
	background-color: rgba(0, 0, 0, 0.6);

	transition: opacity 600ms ease 0s;
}

.slideshow .img.active {
	box-shadow: 1px 0 0 rgba(12,13,14,0.1), 1px 0 3px rgba(12,13,14,0.1), 4px 0 20px rgba(12,13,14,0.035), 1px 0 1px rgba(12,13,14,0.025), -1px 0 0 rgba(12,13,14,0.1), -1px 0 3px rgba(12,13,14,0.1), -4px 0 20px rgba(12,13,14,0.035), -1px 0 1px rgba(12,13,14,0.025);
}

.slideshow .img:not(.active) {
	background-color: #666;
}

.slideshow .img:not(.active) > p {
	opacity: 0;
}

#slide1 {
	background-image: url("../img/headquarters.png");
}
#slide2 {
	background-image: url("../img/DaVinci-Roboter.jpg");
}
#slide3 {
	background-image: url("../img/Actroid-DER_01.jpg");
}
#slide4 {
	background-image: url("../img/iStock_90237163_XLARGE.jpg");
}
#slide5 {
	background-image: url("../img/CMM-Inspection-of-Aerospace-Parts.jpg");
}

.split {
	display: flex;
}

.split #news {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--small-spacing);

	flex: 1;
	padding-right: var(--medium-spacing);
}

.split #news > div img {
	width: 100%;
}

.split #news > div > div {
	padding-bottom: var(--small-spacing);
}

.split #twitter {
	width: 380px;
}
